/* TYPOGRAPHY */

/* Import fonts */
@font-face {
  font-family:'Norwester';
  src:url('../fonts/norwester/webfonts/norwester.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

html { font-size: 18px; }
/* responsive font sizes with calc() */
h1   { font-size: calc(1rem + 8vw);font-family: "Norwester"; }
h2   { font-size: calc(1rem + 3vw);font-family: "Norwester"; }
h3   { font-size: 1.5rem; }
p    { font-size: 1rem; }
a    { font-size: 1.1rem; }

a:hover {
  color: inherit;
  font-size: 1rem;
  text-decoration: none;
}

/* GENERAL */

nav {
  height: 50px;
  background: #d4b3b3;
  border-bottom: 1px solid #eeeeee;
}

header {
  align-items: center;
  background: #d4b3b3ab;
  display: flex;
  min-height: 200px;
  padding-left: 15px;
  border-bottom: 10px solid #eeeeee;
  margin-bottom: 15px;
}
main section {
  padding: 25px;
}
main section:nth-child(even) {
  background: #d4b3b3ab;
}

/* GRID */

main {
  display: grid;
  grid-gap: 15px;
  grid-template-columns:
    minmax(1.2rem, 1fr) minmax(auto, 60vw) minmax(1.2rem, 1fr);
  /*
    - 'vw' is short for 'viewport width'
    - It is a percent value of the width
      of the viewport.
    - 1vw = 1% of viewport width
  */
}
section.more-content {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat( auto-fit, minmax(190px, 1fr) )
}


/* SECTION CONTENT */

img.section-content-width {
  width: 150px;
}
img.section-portfolio-width {
  width: 100%;
}
img.img-float-left {
  float: left;
  padding: 0px 15px 15px 0px;
}
/* Custom list items */
section ul li {
  list-style-type: none;
}
section ul li:before {
  content: '✓';
}
